project_id   = "luca-ledger-dev"
region       = "us-central1"

network_name    = "luca-ledger-dev-vpc-network"
subnet_name     = "luca-ledger-dev-subnet"
subnet_ip       = "10.0.0.0/24"

db_instance_name      = "luca-ledger-dev-sql"
db_version            = "POSTGRES_16"
db_name               = "ledger"
deletion_protection   = true

db_admin_username     = "pg-admin"
db_admin_password     = ""

db_user_username      = "pg-user"
db_user_password      = ""

deletion_protection   = false
authorized_networks   = []

# bucket_name  = "dev-lucaledger-app"
# service_name = "luca-ledger-web-app-dev"
# env          = "dev"
# ssl_domains  = ["dev.lucaledger.app"]